<div class="entry-flow">
    <div class="container">
        <h1 class="text-center">Price Scribe</h1>
        <div class="row">
            <hr>
            <p class="text-center">Welcome to Price Scribe! Price Scribe makes managing your budget easier by helping you keep track of your everyday expenses. Use Price Scribe to keep track of the items you purchase, money you spend every day, and manage your budget.</p>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <hr>
            <div class="col-sm-6">
                <a href="#/login"><button type="button" class="btn btn-info text-center">Login</button></a>
            </div>
            <div class="col-sm-6">
                <a href="#/signup"><button type="button" class="btn btn-info text-center">Signup</button></a>
            </div>
        </div>
    </div>
</div>